In [ ]:
import numpy as np
import pandas as pd
from sklearn.datasets import fetch_california_housing
from sklearn.ensemble import RandomForestRegressor
# install libomp for RandomForestRegressor to run
from sklearn.model_selection import train_test_split
from sklearn import metrics

## the result is not satisfiable so re do

In [8]:
data=fetch_california_housing()

In [9]:
data1=pd.DataFrame(data.data,columns=data.feature_names)

In [10]:
data1.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [11]:
data1['price']=data.target

In [12]:
data1

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [30]:
data1.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
price         0
dtype: int64

## splitting

In [13]:
X=data1.drop('price',axis=1)
Y=data1['price']

In [14]:
X

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [15]:
Y

0        4.526
1        3.585
2        3.521
3        3.413
4        3.422
         ...
20635    0.781
20636    0.771
20637    0.923
20638    0.847
20639    0.894
Name: price, Length: 20640, dtype: float64

In [16]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3, random_state=2)

## training

In [ ]:
model= RandomForestRegressor()

In [29]:
training_data= model.fit(X_train,Y_train)

In [31]:
train_data_prediction=model.predict(X_train)

In [32]:
train_data_prediction

array([2.04639667, 1.17375029, 1.05890112, ..., 1.87996368, 1.70332303,
       0.82400152], shape=(14448,))

## testing

In [33]:
r2_score1=metrics.r2_score(train_data_prediction,Y_train)
ma_error1=metrics.mean_absolute_error(Y_train,train_data_prediction)

In [34]:
print("r2 value: ",r2_score1)
print("mean absloute error: ",ma_error1)

r2 value:  0.9268594485040087
mean absloute error:  0.17546681104667733

In [35]:
# for test data

test_data_prediction=model.predict(X_test)

In [36]:
r2_score2= metrics.r2_score(test_data_prediction,Y_test)
ma_error2=metrics.mean_absolute_error(test_data_prediction,Y_test)

In [37]:
print(r2_score2)
print(ma_error2)

0.7442335576713057
0.333142304929622

In [38]:
from xgboost import XGBRegressor

model = XGBRegressor()
model.fit(X_train, Y_train)
train_pred = model.predict(X_train)
test_pred = model.predict(X_test)

print("Train R2:", metrics.r2_score(Y_train, train_pred))
print("Test R2:", metrics.r2_score(Y_test, test_pred))

Train R2: 0.950500367537341
Test R2: 0.8355589725915741