# Imputing

In [2]:
import numpy as np
from sklearn.datasets import load_iris
import pandas as pd

# Load clean dataset
iris = load_iris(as_frame=True)
df = iris.frame

# Randomly insert NaNs into 5% of the dataset
rng = np.random.default_rng(42)
mask = rng.choice([1, 0], size=df.shape, p=[.05, .95]).astype(bool)
df = df.mask(mask)

print(df.isnull().sum())

sepal length (cm)     6
sepal width (cm)      5
petal length (cm)     6
petal width (cm)      5
target               16
dtype: int64

In [ ]:
df['sepal length (cm)'].fillna(df['sepal length (cm)'].mean(),inplace=True)
df['sepal width (cm)'].fillna(df['sepal width (cm)'].mean(),inplace=True)
df['petal length (cm)'].fillna(df['petal length (cm)'].mean(),inplace=True)
df['petal width (cm)'].fillna(df['petal width (cm)'].mean(),inplace=True)
df['target'].fillna(df['target'].mean(),inplace=True)

/var/folders/8k/380c1z1n5xj7p7vqw290h7v80000gn/T/ipykernel_16742/667778573.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sepal length (cm)'].fillna(df['sepal length (cm)'].mean(),inplace=True)
/var/folders/8k/380c1z1n5xj7p7vqw290h7v80000gn/T/ipykernel_16742/667778573.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sepal width (cm)'].fillna(df['sepal width (cm)'].mean(),inplace=True)
/var/folders/8k/380c1z1n5xj7p7vqw290h7v80000gn/T/ipykernel_16742/667778573.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['petal length (cm)'].fillna(df['petal length (cm)'].mean(),inplace=True)
/var/folders/8k/380c1z1n5xj7p7vqw290h7v80000gn/T/ipykernel_16742/667778573.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['petal width (cm)'].fillna(df['petal width (cm)'].mean(),inplace=True)
/var/folders/8k/380c1z1n5xj7p7vqw290h7v80000gn/T/ipykernel_16742/667778573.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['target'].fillna(df['target'].mean(),inplace=True)

In [14]:
df.sample(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
11,4.8,3.4,1.600000,0.2,0.000000
61,5.9,3.0,4.200000,1.5,1.000000
12,4.8,3.0,1.400000,0.1,0.000000
117,7.7,3.8,6.700000,2.2,0.977612
39,5.1,3.4,1.500000,0.2,0.000000
131,7.9,3.8,6.400000,2.0,2.000000
126,6.2,2.8,3.720833,1.8,0.977612
93,5.0,2.3,3.300000,1.0,1.000000
108,6.7,2.5,5.800000,1.8,2.000000
69,5.6,2.5,3.900000,1.1,1.000000

In [16]:
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

# Dropping

In [18]:
iris = load_iris(as_frame=True)
df = iris.frame

# Randomly insert NaNs into 5% of the dataset
rng = np.random.default_rng(42)
mask = rng.choice([1, 0], size=df.shape, p=[.05, .95]).astype(bool)
df = df.mask(mask)

print(df.isnull().sum())
print(df.shape)

sepal length (cm)     6
sepal width (cm)      5
petal length (cm)     6
petal width (cm)      5
target               16
dtype: int64
(150, 5)

In [23]:
df.dropna(how='any',inplace=True)

In [24]:
df.shape

(116, 5)