In [1]:
import pandas as pd
from sklearn.datasets import load_breast_cancer

In [18]:
data=load_breast_cancer(as_frame=True)
df=data.frame

In [14]:
df

     mean radius  mean texture  ...  worst fractal dimension  target
0          17.99         10.38  ...                  0.11890       0
1          20.57         17.77  ...                  0.08902       0
2          19.69         21.25  ...                  0.08758       0
3          11.42         20.38  ...                  0.17300       0
4          20.29         14.34  ...                  0.07678       0
..           ...           ...  ...                      ...     ...
564        21.56         22.39  ...                  0.07115       0
565        20.13         28.25  ...                  0.06637       0
566        16.60         28.08  ...                  0.07820       0
567        20.60         29.33  ...                  0.12400       0
568         7.76         24.54  ...                  0.07039       1

[569 rows x 31 columns]

In [19]:
data1=load_breast_cancer()
df1=pd.DataFrame(data1.data, columns=data1.feature_names)

In [20]:
df1

     mean radius  mean texture  ...  worst symmetry  worst fractal dimension
0          17.99         10.38  ...          0.4601                  0.11890
1          20.57         17.77  ...          0.2750                  0.08902
2          19.69         21.25  ...          0.3613                  0.08758
3          11.42         20.38  ...          0.6638                  0.17300
4          20.29         14.34  ...          0.2364                  0.07678
..           ...           ...  ...             ...                      ...
564        21.56         22.39  ...          0.2060                  0.07115
565        20.13         28.25  ...          0.2572                  0.06637
566        16.60         28.08  ...          0.2218                  0.07820
567        20.60         29.33  ...          0.4087                  0.12400
568         7.76         24.54  ...          0.2871                  0.07039

[569 rows x 30 columns]

# example

In [22]:
from sklearn.datasets import fetch_openml

credit = fetch_openml("credit-g", version=1, as_frame=True)
df = credit.frame

print(df['class'].value_counts())

class
good    700
bad     300
Name: count, dtype: int64

In [23]:
df

    checking_status  duration  ... foreign_worker class
0                <0         6  ...            yes  good
1          0<=X<200        48  ...            yes   bad
2       no checking        12  ...            yes  good
3                <0        42  ...            yes  good
4                <0        24  ...            yes   bad
..              ...       ...  ...            ...   ...
995     no checking        12  ...            yes  good
996              <0        30  ...            yes  good
997     no checking        12  ...            yes  good
998              <0        45  ...            yes   bad
999        0<=X<200        45  ...            yes  good

[1000 rows x 21 columns]

In [27]:
good=df[df['class']=='good']
bad=df[df['class']=='bad']

In [29]:
print(good.shape, bad.shape)

(700, 21) (300, 21)

In [30]:
reduced_good=good.sample(300)
reduced_good.shape

(300, 21)

In [31]:
new_df=pd.concat([reduced_good,bad],axis=0)

In [38]:
new_df

    checking_status  duration  ... foreign_worker class
91               <0        12  ...            yes  good
233        0<=X<200        18  ...            yes  good
427     no checking        18  ...            yes  good
479              <0        15  ...            yes  good
142              <0        27  ...            yes  good
..              ...       ...  ...            ...   ...
979        0<=X<200        15  ...            yes   bad
980        0<=X<200        30  ...            yes   bad
981     no checking        48  ...            yes   bad
983              <0        36  ...            yes   bad
998              <0        45  ...            yes   bad

[600 rows x 21 columns]